* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
/* navbar */

nav {
  display: flex;
  background-color: blueviolet;
  justify-content: space-around;
  /* padding: 20px 0; */
  color: plum;
  height: 50px;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  width: 40%;
  justify-content: space-between;
}
nav ul li a {
  color: plum;
  text-decoration: none;
  font-size: 0.8em;
}
nav .logo {
  font-family: "Pacifico", cursive;
  letter-spacing: 3px;
}

nav ul li a:hover {
  color: lightgray;
}

/* humberger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: plum;
  border-radius: 3px;
  transition: all 0.5s;
}
.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0.8;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

/* animasi humbergur */

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: aliceblue;
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: aliceblue;
  transform: rotate(-45deg) translate(-1px,0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* responsive breakpoint */

/* ukuran tablet */

@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* ukuran mobile */

@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    flex-direction: column;
    top: 0;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
    background-color: blueviolet;
    width: 50%;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }
  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }
}
